div.step > .recentChanges, div.step > .Formtitle {

    display: none;

}



h2.da-hone {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}



#da-timeline {

    display: flex;

    max-width: 315px;

    margin: 50px auto;

    align-items: center;

}



.da-dot {

    min-width: 28px;

    min-height: 28px;

    background: white;

    border-radius: 14px;

    position: relative;

}



.da-dot:before {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate3d(-50%,-50%,0);

    color: #99E258;

    font-family: Open Sans;

    font-size: 15px;

    display: inline-block;

    font-style: normal;

    font-variant: normal;

    font-weight: 900;

    text-rendering: auto;

    -webkit-font-smoothing: antialiased;

}



.da-dot:first-child,

#da-timeline.da-2 .da-dot:nth-child(3),

#da-timeline.da-3 .da-dot:last-child {

    min-width: 36px;

    min-height: 36px;

    border-radius: 18px;

    border: 5px solid #99E258;

}



.da-dot:first-child:before {

    content: '1';

}



.da-dot:nth-child(3):before {

    content: '2';

}



.da-dot:last-child:before {

    content: '3';

}



.da-dot:after {

    position: absolute;

    top: 38px;

    left: 50%;

    transform: translateX(-50%);

    color: #99E258;

    width: max-content;

}



.da-dot:first-child:after {

    content: 'Your Situation';

    top: 45px;

}



.da-dot:nth-child(3):after {

    content: 'Your Home';

}



.da-dot:last-child:after {

    content: 'About You';

    top: 39px;

}



.da-dot:first-child:after,

#da-timeline.da-2 .da-dot:nth-child(3):after,

#da-timeline.da-3 .da-dot:last-child:after {

    text-decoration: underline;

}



#da-timeline.da-2 .da-dot:first-child:after,

#da-timeline.da-3 .da-dot:nth-child(3):after {

    text-decoration: none;

    top: 35px;

}



.da-dash {

    height: 5px;

    flex-grow: 1;

    background: white;

    margin-left: -1px;

    margin-right: -1px;

}



#da-timeline.da-2 .da-dash:nth-child(2),

#da-timeline.da-3 .da-dash:nth-child(4) {

    background: #99E258;

}



#da-timeline.da-2 .da-dot:first-child,

#da-timeline.da-3 .da-dot:nth-child(3) {

    min-width: 28px;

    min-height: 28px;

    border-radius: 14px;

    background: #99E258;

}



#da-timeline.da-2 .da-dot:first-child:before,

#da-timeline.da-3 .da-dot:nth-child(3):before {

    color: white;

}



#da-content h3 {

    margin: 0 0 50px;

    color: white;

    font-size: 30px;

    font-weight: 100;

    display: none;

}



#da-content h3:first-of-type {

    display: block;

}



p.da-recent {

    color: white;

    font-size: 17px;

    font-weight: 600;

    margin-top: 35px;

}

